# Ground path simulation

In [1]:
import os
from skyfield.api import load
from ground_path import ground_path
import numpy as np

### Load existing satellite from NORAD database

In [2]:
resource_url = 'http://celestrak.com/NORAD/elements/resource.txt'

In [3]:
fname = 'tle.txt'
if os.path.isfile(fname):
    os.remove(fname)

satellites = load.tle(resource_url, filename=fname, reload=True)

[#################################] 100% tle.txt

In [4]:
satellite = satellites['HODOYOSHI-1']
print(satellite)

EarthSatellite 'HODOYOSHI-1' number=40299 epoch=2018-08-06T18:53:38Z

### Calculate ground path

In [5]:
df = ground_path(satellite, '2018-08-01T00:00:00', '2018-08-02T00:00:00', '30s')
df.head()

100%|██████████| 2881/2881 [00:04<00:00, 632.94it/s]

,elevation,lon,lat,orbit,X,Y,Z
datetime,,,,,,,
2018-08-01 00:00:00,499.230718,-31.446707,64.790392,0,413.215323,-2909.273962,6198.663736
2018-08-01 00:00:30,499.410035,-33.007950,66.599279,0,318.147408,-2721.585593,6288.504115
2018-08-01 00:01:00,499.578778,-34.793866,68.392579,0,222.727486,-2530.886132,6371.367487
2018-08-01 00:01:30,499.735426,-36.862743,70.166206,0,127.061133,-2337.386627,6447.162079
2018-08-01 00:02:00,499.878571,-39.293342,71.914512,0,31.254193,-2141.301213,6515.803948

In [6]:
# save as CSV file
df.to_csv('ground_path_hodoyoshi.csv')

## Statistics

In [7]:
# Total distance approximation
pos = df[['X', 'Y', 'Z']]
dist = np.linalg.norm((pos - pos.shift()).dropna(), axis=1)
dist.sum()

657574.7391242208

In [8]:
df[['elevation', 'lon', 'lat']].agg(['min', 'max'])

      elevation         lon        lat
min  495.074071 -179.792468 -82.663796
max  535.412535  179.940694  82.663943

In [9]:
df[['elevation']].describe()

         elevation
count  2881.000000
mean    508.830494
std      13.887208
min     495.074071
25%     497.611162
50%     500.369331
75%     521.088948
max     535.412535